@import './../../variables.scss';

.listFilms{
  img {
    width: 12em;
    height: 19em;
  }

  .containerFilm {
    display: flex;

    .film {
      display: inherit;
      flex-direction: column;
      justify-content: center;

      .actionReservation {
        position: relative;
        top: -80px !important;
        visibility: hidden;
        width: 70%;
        align-self: center;
        padding: 10px;
        background: $blue;
        border: 1px solid $blue;
        border-radius: 15px;
        color: white;
        text-shadow: 0px 0px 3px white;
      }
    }    
  }
  
  .film:hover {
    img {
      opacity: 0.4;
    }
    
    .actionReservation{
      visibility: visible;
    }
  }
}
