.listFilms{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  img {
    width: 12em;
    height: 19em;
    margin: 1em;
  }
  
  .actionReservation {
    height: 40px;
    top: -70px !important;
    left: 60px;
    align-content: center;
    position: relative;
    
  }
  
  img:hover {
    filter: opacity(0.5);
    
    
  }
}