@import "./variables.scss";

@font-face {
  font-family: "MontserratBold";
  src: url("./assets/fonts/montserrat/MontserratAlternates-BoldItalic.otf") format("opentype"),
}

@font-face {
  font-family: "MontserratMedium";
  src: url("./assets/fonts/montserrat/MontserratAlternates-Medium.otf") format("opentype"),
}

@font-face {
  font-family: "MontserratLight";
  src: url("./assets/fonts/montserrat/MontserratAlternates-Light.otf") format("opentype"),
}


body {
  top: 0;
  bottom: 0;
  height: 100vh;
  min-height: 100vh;
  background: $background-color;
  font-family: $font;
}

#root{
  min-height: inherit;
}

h1 {
  font-family: 'MontserratBold';  
}

h1.title {
  font-size: 60px !important; 
}

.App {
  display: flex;
  min-height: inherit;
}

.Sidebar {
  background: $blue;
  color: white;
  text-align: center;
  padding: 0;
  margin: 0;
  padding-top: 30px;
  
  min-height: inherit;
}

.Views {
  margin: 5px 45px ;
  
  .container-dates {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    align-items: center;

    .dates {
      margin: 2px 10px;
      display: flex;
      flex-direction: row;
      background: $background-color;
      border: 1.5px solid gray;
      border-radius: 20px;
      width: 250px;
      height: 30px;
      color: gray;

      svg {
        margin: 8px;
      }
      input {
        border: 0px;
        width: 100px;
        background: inherit !important;
        height: inherit !important;

        &:focus {
          outline: 0px !important;
        }
      }

      
    }
  }
}

ul{
  margin: 0;
  padding: 0;
  margin-top: 10vh;
}

ul li {
  list-style: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-left: 30px;
  padding-left: 30px;
  padding: 30px;

  a {
    text-decoration: none !important;
    color: white !important;
  }
}

li:hover {
  background: $light-blue;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  padding: 30px;
  color: white;
}

table {
  tr {
    background: white;
  }

  th, td {
    padding: 12px !important;
  }
}


.head {
  padding: 30px 0px;

  .title{
    font-size: 30px;
    vertical-align: middle !important;
  }  

}

.button {
  background: #008efeff;
  border-radius: 100px;
  color: white;
  font-weight: 600;
  padding: 15px;
  height: 50px;
}

.button:hover, .button:active, .button:focus, .button:visited {
  background: rgb(1, 81, 151);
  border-radius: 100px;
  color: white;
  height: 50px;
  padding: 15px;
}